<!DOCTYPE html>
<html>
    <head>
        <title>Ben Brookfield</title>
        <link rel="icon" type="image/jpg" href="me.jpg">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Ben Brookfield</h1>

        <img src="me.jpg"
             alt="This is a picture of me"
             width="150"
             style="border-radius:50%">
        <br>

        <a href="https://www.linkedin.com/in/ben-brookfield/"
           target="_blank"
           title="Goes to my Linkedin page">
           <img src="linkedin.png"
                width="30">
        </a>

        <a href="https://github.com/benbrookfield"
           target="_blank"
           title="Goes to my github profile">
            <img src="github.png"
                 width="30">
        </a>

        <a href="mailto:benjaminbrookfield2005@gmail.com"
           target="_blank"
           title="Send me an email!">
            <img src="email.png"
                 width="30">
        </a>

        <hr>
        <p>Hello! My name is Ben and I am a computer science student at Newcastle University.
            I love programing and I am looking for opportunities to expand my knowledge and gain real world experience in the technology industry.</p>
        <hr>

        <button style="font-size:20px; border-radius:10px">Personal Projects</button>
        <button style="font-size:20px; border-radius:10px">Work Experience</button>
        <button style="font-size:20px; border-radius:10px">Education</button>

        <br><br>
        <audio controls loop>
            <source src="Trap Queen.mp3" type="audio/mpeg">

        </audio>
    </body>
</html>