@font-face{
    src: url(fonts/nexa-rust.slab-black-shadow-01.otf);
    font-family: Nexa-slab;
}
@font-face{
    src: url("fonts/montserrat.regular.ttf");
    font-family: montserrat;
}

body{
    text-align: center;
    background-image: url(vecteezy_surface-of-the-water-background-calm-relaxing-water-surface_14445404.jpg);
    background-size: cover;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

h1{
    font-family: Nexa-slab, Arial;
    text-shadow: 0px 0px 4px whitesmoke;
}

p{
    font-family: montserrat, Arial;
    text-shadow: 0px 0px 3px whitesmoke;
}

i{
    color: white;
}

a{
    text-decoration: none;
}